.entry-list {
  margin-top: 70px;
}

.tag {
  color: blue;
  margin-left: 2px;
  cursor: pointer;
}

tr {
  background-color: #FDFDFE;
  height: 50px;
}

td {
  font-size: 16px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.remove-btn {
  border-style: none;
  border-radius: 50%;
  font-weight: bold;
}
