.header-title {
  font-size: 40px;
  padding-left: 30px;
  padding-top: -80px;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
}

.main-form {
  flex-direction: row;
}

.big-input {
  margin-top: 10px;
  width: 800px;
  height: 40px;
  font-size: 24px;
}

.entry-form {
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
}

.entry-btn {
  height: 42px;
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 3px;
  background-color: #222222;
}
