
.big-input {
}

.entry-input {
  height: 70px;
  font-size: 23px;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding-right: 40px;

  box-shadow: 1px 4px 1px #e6e6e6;
}

.entry-form {
  padding-top: 150px;
  flex-direction: column;
  justify-content: center;
}

.big-entry {

}

.entry-btn {
  height: 42px;
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 3px;
  background-color: #222222;
}
